<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

    <!-- Run Bagfiles-->
    <!-- <inlude file="$(find lio_sam)/launch/include/bagfile.launch"/> -->

    <!-- Run Save -->
    <node name="save_coords" pkg="lio_sam" type="save_result.py" respawn="true" output="screen">
    </node>
  

</launch>
